@model MvSimulacaoPagamento

<h3>@Html.DisplayNameForModel()</h3>
<hr />
<div class="row">
    <form asp-action="SelecionarBeneficio" method="post" class="form">
        @Html.HiddenFor(m => m.IdBeneficio)
        @Html.HiddenFor(m => m.Valor)
        <div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <span class="nav-link active" aria-current="page" href="#">Contribuinte</span>
                </li>
                <li class="nav-item">
                    <input type="submit" value="Benefício" class="nav-link" />
                </li>
                <li class="nav-item">
                    <span class="nav-link disabled" aria-disabled="true">Cálculo</span>
                </li>
            </ul>
        </div>
        <br />

        <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12 offset-0">
            <div class="form-group">
                <label asp-for="CnpjContribuinte" class="control-label"></label>
                <input asp-for="CnpjContribuinte" class="form-control" mask="@MascaraCampos.Get(MascaraCampos.Mascara.cnpj)" />
                <span asp-validation-for="CnpjContribuinte" class="text-danger"></span>
            </div>
            <div class="mt-2" id="detalhes">
            </div>
            <div class="form-group mt-3">
                <div class="col-6 justify-content-evenly">
                    <input type="submit" value="Próximo" class="btn btn-primary" />
                </div>
            </div>
            <div class="form-group">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>
        </div>
    </form>
</div>