@model MvSimulacaoPagamento

<h3>@Html.DisplayNameForModel()</h3>
<hr />
<div class="row">
    <form asp-action="Calcular" method="post" class="form">
        @Html.HiddenFor(m => m.CnpjContribuinte)
        @Html.HiddenFor(m => m.Valor)
        <div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <input type="button" value="Contribuinte" class="nav-link" onclick="Voltar(this.form);" />
                </li>
                <li class="nav-item">
                    <span class="nav-link active" aria-current="page">Benefício</span>
                </li>
                <li class="nav-item">
                    <input type="submit" value="Cálculo" class="nav-link" />
                </li>
            </ul>
        </div>
        <br />

        <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12 offset-0">
            <div class="form-group">
                <label asp-for="IdBeneficio" class="control-label"></label>
                @Html.DropDownListFor(m => m.IdBeneficio, Model.SelectListItemFromBeneficios(true), new { @class = "form-select" })
                <span asp-validation-for="IdBeneficio" class="text-danger"></span>
            </div>
            <div class="form-group mt-3 justify-content-evenly">
                <input type="button" value="Voltar" class="btn btn-secondary" onclick="Voltar(this.form);" />
                <input id="btnProximo" type="submit" value="Próximo" class="btn btn-primary" />
            </div>
            <div class="form-group">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    function Voltar(elementoFormulario) {
        elementoFormulario.action = elementoFormulario.action.replace('Calcular','SelecionarContribuinte');
        elementoFormulario.submit();
    }
</script>